<div class="container mt-5">
  <h2>{{ header }}</h2>
  <hr style="border-color: black">
  <div class="mt-4">

    <div *ngIf="success && !error" class="alert alert-success" role="alert">
      User
      <strong>{{ action }}</strong> successfully
    </div>

    <div *ngIf="userExistsError && !success" class="alert alert-warning" role="alert">
      User does not exist!
    </div>

    <form (ngSubmit)="onSubmit(inp)" class="form" enctype="multipart/form-data">

      <div class="row">
        <div class="col-9">
          <div class="form-group">
            <label>Username</label>
            <input class="form-control" [(ngModel)]="username" name="uname" type="text" [disabled]="isEdit">
          </div>

          <div class="form-group">
            <label>Email address</label>
            <input class="form-control" type="email" [(ngModel)]="email" name="email" type="text">
          </div>

          <div class="form-group">
            <button class="btn btn-secondary btn-block" [routerLink]="['users']">
              <fa name="fas fa-arrow-left" style="margin-right: 10px;"></fa>BACK
            </button>
            <button class="btn btn-primary btn-block" type="submit">
              <fa name="fas fa-save" class="mr-2"></fa>SAVE
            </button>
          </div>
        </div>
        <div class="col-3">
          <figure class="figure">
            <img src="data:image/png;base64,{{photo}}" class="figure-img img-fluid rounded" alt="User Photo" style="width:150; height:150px;">
            <figcaption class="figure-caption">
              <input type="file" name="file" (change)="onPhotoSelected(inp)" #inp>
            </figcaption>
          </figure>
        </div>
      </div>
    </form>
  </div>
</div>