<div class="container mt-5">
  <h2>{{ header }}</h2>
  <hr style="border-color: black">
  <div class="mt-4">

    <div *ngIf="success && !error" class="alert alert-success" role="alert">
      User <strong>{{ action }}</strong> successfully
    </div>

    <div *ngIf="error && !success" class="alert alert-warning" role="alert">
        User does not exist!
    </div>

    <form (ngSubmit)="onSubmit()" class="form">

      <div class="form-group">
        <label>Username</label>
        <input class="form-control" [(ngModel)]="username" name="uname">
      </div>

      <div class="form-group">
        <label>Email address</label>
        <input class="form-control" type="email" [(ngModel)]="email" name="email">
      </div>

      <div class="form-group">
        <button class="btn btn-secondary btn-block" [routerLink]="['users']">
          <fa name="fas fa-arrow-left" style="margin-right: 10px;"></fa>BACK
        </button>
        <button class="btn btn-primary btn-block" type="submit">
          <fa name="fas fa-save" style="margin-right: 10px;"></fa>SAVE
        </button>
      </div>
    </form>
  </div>
</div>