<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of users">
      <th scope="row">1</th>
      <td>{{ u.username }}</td>
      <td>{{ u.email }}</td>
      <td>
        <button class="btn btn-info" [routerLink]="['/users/', u.username]">Edit</button>
        <button class="btn btn-danger" (click)="onDelete()">Delete</button>
      </td>
    </tr>
  </tbody>
</table>